__pycache__/ 

.venv/

calls/

config/config.ini

config/credentials.json

config/temp-credentials.json

client/payload.txt

parser/margin-utilization-view.json

parser/temp-margin-utilization-view.json